.custom-navbar {
  box-shadow: 0 6px 8px rgba(14, 13, 13, 0.1);
  z-index: 1000;
  width: 100%;
}

#basic-navbar-nav .nav-btn {
  margin-left: 15px;
  background-color: #06bbcc;
  color: white;
  border: none;
  padding: 8px 15px;
  transition: background 0.3s ease;
}

#basic-navbar-nav .nav-btn:hover {
  background-color: #00a2ff;
  transform: scale(1.05);
}

.custom-navbar img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: 0 10px;
}
.custom-navbar .navbar-brand {
  font-size: 25px;
}
