.footer-section {
  background-color: #0e1121;
  color: white;
  padding: 50px 0 0 0;
}
.footer-content .col {
  margin: 20px 0;
}
.footer-content h5 {
  color: #fff;
  font-weight: bold;
  text-align: start;
}

.footer-links {
  list-style: none;
  padding: 0;
  text-align: start;
}

.footer-links li {
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s;
  font-size: 13px;
}

.footer-links li:hover {
  color: #06bbcc;
}

.socialmedia-icons {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  /* font-size: 20px; */
}

.socialmedia-icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.socialmedia-icons svg:hover {
  color: #06bbcc;
}

.newsletter-form .input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.newsletter-form .form-control {
  border: none;
  padding: 10px;
  flex: 1;
  outline: none;
}

.newsletter-form .btn-signup {
  background-color: #06bbcc;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.newsletter-form .btn-signup:hover {
  background-color: #048fa3;
}

.footer-bottom {
  background-color: #090c1b;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-bottom a:hover {
  color: #06bbcc;
}

/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #06bbcc;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
  background-color: #048fa3;
}

.footer-link {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
}

.footer-link:hover {
  transform: translateX(3px);
  text-shadow: 2px 0px 5px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .footer-section {
    text-align: center;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-content h5 {
    text-align: center;
  }
  .footer-links {
    text-align: center;
    padding: 0;
  }
  .socialmedia-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
